/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'josefin sans', times;
  color: #222;
}

/* Link Styles */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #ff80ff;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

/* Section Styles */
img {
	width: 100%;
}

img:hover {
	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
	-o-transition:2s;
  	-ms-transition:2s;
  	-moz-transition:2s;
  	-webkit-transition:2s;
  	transition: 2s;
}

ul {
	list-style-type: none;
}


h1, h2 {
	text-transform: uppercase;
}

.main-nav {
	padding: 0;
}

.main-nav a {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 25px 0 25px 0;
	padding: 0 1em 0 1em;
	display: block;
}

.banner-section,
.main-footer {
	background: #ff80ff;
	color: white;
	font-size: 25px;
	padding: 1em 0 1em 0;
}

.banner-section img {
	margin-top: 50px;
	border: solid 4px white;
	border-radius: 50%;
	width: 170px;
	height: 170px;
}

.banner-section a {
	color: white;
	text-decoration: underline;
}

.banner-section a:hover {
	font-size: 32px;
}

.banner-section p {
	padding: 0 1em 0 1em;
	text-align: justify;
	font-weight: bolder;
}

.sidebar {
	display: none;
}

.container{
	padding: 0 1em 0 1em;
	margin-top: 4em;
}

.container h3 {
	font-size: 25px;
	margin-bottom: 0;
}

.container p {
	font-size: 20px;
}

.contact-section {
	margin-top: 10em;
}

.contact h2 {
	margin-bottom: 1.5em;
}

.footer-nav {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bolder;
    font-size: 25px
 }

 .home-footer,
 .portfolio-footer,
 .contact-footer {
 	display: none;
 }

 .main-footer a {
 	color: white;
 }

.social-media {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 1em;
}

.social-media a {
	display: block;
	width: 50px;
	height: 50px;
	padding: .5em;
}

.social-media a:hover {
	width: 70px;
	height: 70px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.skills-section {
	font-size: 20px;
	font-weight: bolder;
}

.skills-section p {
	background: #ff4d4d;
	padding: .7em;
	width: 80%;
	color: white;
	margin: 10px auto;
	border: 5px solid black;
	border-radius: 25px;
}

.skills-section p:hover {
	background: #ff80ff;
	font-size: 30px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
}

/* Media Styles */
@media (min-width: 768px) {

.banner-section {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.banner-section p {
	margin: 0 auto;
	padding: 2em;
	text-align: justify;
}

.banner-section img {
	border: solid 5px white;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	margin-top: 18px;
	margin-right: 6em;
}

.main-header h1 {
	padding-top: 0;	
}

.main-nav {
	margin-top: 0;
}

.name {
	padding-top: 1em;
}

.portfolio-section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.portfolio-item {
	max-width: 49%;
	margin-bottom: 20px;
}

.main-nav li {
	display: inline-block;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.footer-nav li {
	padding-left: 1em;
}

.footer-nav li:first-child {
	margin-right: auto;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.top {
	display: none;
}

.home-footer,
.portfolio-footer,
.contact-footer {
 	display: block;
 }

 .skills-section p {
	width: 50%;
}	

}

@media (min-width: 1024px){

.main-header {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-right: 4em;
	padding-left: 4em;
	padding-top: .5em;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.portfolio-item {
	max-width: 32%;
}

.banner-section img {
	margin-right: 10em;
	margin-top: 30px;
	border: solid 5px white;
	border-radius: 50%;
	width: 220px;
	height: 220px;
}

.banner-section p {
	margin-left: 7em;
	text-align: left;
	width: 700px;
	font-size: 25px;
	text-align: justify;
}

.skills-section p {
	width: 30%;
}	

.contact-section {
	margin-top: 7em;
	width: 600px;
}

}