/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'josefin sans', sans-serif;
  color: #222;
}

/* Link Styles */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

/* Section Styles */
img {
	width: 100%;
}

ul {
	list-style-type: none;
}

h2 {
	margin-top: 3.5em;
}

h1, h2 {
	text-transform: uppercase;
}

.main-nav {
	padding: 0;
}

.main-nav a {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 25px 0 25px 0;
	padding: 0 1em 0 1em;
	display: block
}

.banner-section {
	color: black;
	font-size: 22px;
}

.banner-section img {
	margin-top: 50px;
	border: solid 4px white;
	border-radius: 50%;
	width: 170px;
	height: 170px;
}

.container{
	padding: 0 1em 0 1em;
	margin-top: 4em;
}

.container h3 {
	font-size: 25px;
	margin-bottom: 0;
}

.container p {
	font-size: 20px;
}

.contact {
	margin-top: 10em;
}

.contact h2 {
	margin-bottom: 1.5em;
}

.footer-nav {
	display: -webkit-flex;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bolder;
    font-size: 25px
 }

 .home-footer,
 .portfolio-footer,
 .contact-footer {
 	display: none;
 }

/* Media Styles */
@media (min-width: 660px) {

.banner-section {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-flex-direction: row-reverse;
}

.banner-section p {
	margin: 0 auto;
	padding: 2em;
}

.banner-section img {
	border: solid 5px white;
	border-radius: 50%;
	width: 220px;
	height: 220px;
	margin-top: 18px;
	margin-right: 6em;
}

.main-header h1 {
	padding-top: 0;	
}

.main-nav {
	margin-top: 0;
}

.name {
	padding-top: 1em;
}

.portfolio-section {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
}

.portfolio-item {
	max-width: 49%;
	margin-bottom: 20px;
}

.main-nav li {
	display: inline-block;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.footer-nav li {
	padding-left: 1em;
}

.footer-nav li:first-child {
	margin-right: auto;
	-webkit-justify-content: space-between;
}

.top {
	display: none;
}

.home-footer,
.portfolio-footer,
.contact-footer {
 	display: block;
 }

}

@media (min-width: 1100px){

.main-header {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	padding-right: 4em;
	padding-left: 4em;
	padding-top: 2em;
}

.portfolio-section {
	width: 80%;
	margin: 0 auto;
}

.portfolio-item {
	max-width: 32%;
}

.banner-section img {
	margin-right: 15em;
	margin-top: 30px;
	border: solid 5px white;
	border-radius: 50%;
	width: 220px;
	height: 220px;
}

.banner-section p {
	margin-left: 7em;
	text-align: left;
	width: 700px;
	font-size: 28px;
}

}