/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'josefin sans', sans-serif;
  color: #222;
}

/* Link Styles */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

/* Section Styles */
img {
	width: 100%;
}

ul {
	list-style-type: none;
}

h1, h2 {
	text-transform: uppercase;
}

.main-nav {
	padding: 0;
}

.main-nav a {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 25px 0 25px 0;
	padding: 0 1em 0 1em;
	display: block
}

.banner-section {
	background: #884dff;
	color: white;
	font-size: 22px;
	padding-bottom: 1em;
}

.banner-section p {
	padding-right: 1em;
	padding-left: 1em;
}


.banner-section img {
	margin-top: 50px;
	border: solid 5px white;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.container{
	padding: 0 1em 0 1em;
	margin-top: 4em;
}

.container h3 {
	font-size: 30px;
	margin-bottom: 0;
}

.container p {
	font-size: 25px;
	padding-bottom: 1em;
}

.contact {
	margin-top: 10em;
}
.main-footer {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: : space-between;
    padding: 2.5em;
    font-weight: bolder;
    font-size: 25px
 }

/* Media Styles */

@media (min-width: 720px) {

.banner-section {
	
}

.banner-text {
	text-align: left;
	width: 60%;
	padding-top: 2em;
	margin: 0;
}

.profile-image {
	width: 40%;
	float: right;
	margin-right: 5em;
}

.name {
	padding-top: 1em;
}

.portfolio-item {
	float: left;
	width: 50%;
	padding-left: 1em;
	padding: right: 1em;
}

.contact-section {
	border: solid 1px red;
}
.main-nav li {
	display: inline-block;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
}